<?xml version="1.0" encoding="utf-8"?>
<module
	loadFromBin="false"
	clientResourceRelativePath=""
	viewEngine="Razor"
	authorizationPolicy="episerver:cmsedit"
	name="PinPoint.Core"
	productName="Open Maps Editor">

	<assemblies>
		<add assembly="PinPoint.Core" />
	</assemblies>

	<dojo>
		<!-- Add a mapping for the dojo loader configuration -->
		<paths>
			<add name="PinPoint.Core" path="ClientResources/PinPoint.Core" />
		</paths>
	</dojo>

</module>
