<?xml version="1.0" encoding="utf-8"?>
<module
	loadFromBin="false"
	clientResourceRelativePath=""
	viewEngine="Razor"
	authorizationPolicy="episerver:cmsedit"
	name="PinPointCore"
	productName="PinPoint">

	<assemblies>
		<add assembly="PinPoint.Core" />
	</assemblies>

	<dojo>
		<!-- Add a mapping for the dojo loader configuration -->
		<paths>
			<add name="pinpointcore" path="ClientResources/pinpointcore" />
		</paths>
	</dojo>

</module>
